<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a8ab6196-fe9a-4e95-92b6-a73fe75b1943" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8ab6196-fe9a-4e95-92b6-a73fe75b1943fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
